{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-xs-12">
        <h2 class="h1">
            Edit origins
        </h2>
    </div>
    <div id="origins-edit-app">
        <origins-edit-app
            init-urls="{{ urls }}"
            init-data="{{ origins }}"
        />
    </div>
{% endblock %}

{% block javascript %}
    {{ vite_entry_script_tags('main') }}
    {{ vite_entry_script_tags('originsedit') }}
{% endblock %}
