{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-xs-12">
        <h2 class="h1">
            Edit meters
        </h2>
    </div>
    <div id="meters-edit-app">
        <meters-edit-app
            init-urls="{{ urls }}"
            init-data="{{ meters }}"
        />
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset("build/main.js") }}"></script>
    <script type="text/javascript" src="{{ asset("build/metersedit.js") }}"></script>
{% endblock %}
