###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.dev.secret
/.env.symfony
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
node_modules
bower_components
/public/build/
.gitignore
npm-debug.log
yarn-error.log
.pnpm-store
###< symfony/webpack-encore-bundle ###

### images folders for development
/image_data/images/*
!/image_data/images/.gitkeep
/image_data/page-images/*
!/image_data/page-images/.gitkeep
###

### docker volumes
/volumes
###

.DS_Store
Thumbs.db
Thumbs.db:encryptable

docker_data/dbbe_db/data
docker_data/dbbe_db/initdb/*gz

docker_data/keycloak/db
docker_data/elasticsearch/data
/.bash_history
/.idea/dbbe.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.symfony5/tmp
