
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.dev.secret
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
node_modules
bower_components
/public/build/
.gitignore
npm-debug.log
yarn-error.log
.pnpm-store
###< symfony/webpack-encore-bundle ###

### docker volumes
/volumes
###
