.delete-filter-icon {
    margin-left: 0.7rem;
}

.active-filter-array-container {
    display: flex;
    flex-wrap: wrap;
}

.active-filter-item {
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-family: PannoTextNormal,Arial,sans-serif;
}

.active-filter-label {
    font-weight: 400;
    font-family: PannoTextMedium,Arial,sans-serif;
}

.active-filters {
    display: flex;
    flex-wrap: wrap;
}