.delete-filter-icon {
    margin-left: 0.7rem;
}

.active-filter-array-container {
    display: flex;
    flex-wrap: wrap;
}

.active-filter-item {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.active-filters {
    display: flex;
    flex-wrap: wrap;
}