.button-group-button {
    line-height: 3rem;
    padding: 0px 8px;
    border: 1px solid $brand-primary;
    background: white;
    color: $brand-primary;
    border-radius: 2px;
    margin-right: 5px;

    &.is-checked {
        background: $brand-primary;
        border-color: $brand-primary;
        color: white;
    }
}