.delete-span-icon {
    margin-left: 0.7rem;
}

.delete-span-container {
    border: 1px solid $brand-primary;
    color: $brand-primary;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.filter-array-values-container {
    display: flex;
    flex-wrap: wrap;
}

.delete-span-selected-container {
    display: flex;
    flex-wrap: wrap;
}

.delete-spam-item {
    margin-left: 1rem;
    margin-bottom: 1rem;
}