.dropdown-menu > li {
    &::before {
        content: "";
    }
    a {
        border: none;
        &.selected {
            color: $dropdown-link-hover-color;
            background-color: $dropdown-link-hover-bg;
        }
    }
}
