.table {
  ul,
  ol {
    padding-left: 18px;

    li {
      margin-bottom: 8px;
      position: relative;

      a {
        border-bottom: 1px solid $brand-primary;

        &:hover,
        &:focus,
        &.selected {
          border-color: transparent;
          color: $brand-primary;
        }
      }
    }
  }
}
