.greek {
  font-family: 'Noto serif', Arial, sans-serif;
  font-size: 14px;

  &.form-group {
    font-family: $default-font-family;

    .form-control {
      font-family: 'Noto serif', Arial, sans-serif;
      font-size: 14px;
    }
  }
}

.modal-title {
  .greek {
    font-size: $fz-medium;
    font-weight: 700;
  }
}
