.field-radios-labels-only,
.field-checkboxes-labels-only {
  .field-wrap {

    .radio-list label,
    .checkbox-list label {
      display: inline-block;
      border: 1px solid $brand-primary;
      border-radius: 2px;
      margin-right: 5px;
      background: white;
      color: $brand-primary;
      cursor: pointer;

      &.is-checked {
        background: $brand-primary;
        border-color: $brand-primary;
        color: white;
      }

      &.is-disabled {
        background: #ddd !important;
        border-color: #ddd !important;
      }

      input {
        display: none;
      }
    }
  }

  &.two-line {
    min-width: 100%;
  }
}

.field-checkboxes-sm {
  .field-wrap {
    .checkbox-list label {
      font-size: $fz-small;
      line-height: 1rem;
      padding: 2px 4px;
    }
  }
}

.field-checkboxes-lg {
  .field-wrap {
    .checkbox-list label {
      line-height: 3rem;
      padding: 0px 8px;
    }
  }
}
