{% extends 'base.html.twig' %}

{% block content %}
    <div id="manuscript-search-app">
        <manuscript-search-app />
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset("/build/index.js") }}"></script>
{% endblock %}
