{% extends 'base.html.twig' %}

{% block content %}
    <div id="manuscript-edit-app">
        <manuscript-edit-app
            get-manuscript-url="{{ path('manuscript_show', {'id': id}) }}"
            get-cities-url="{{ path('cities') }}"
        />
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset("/build/manuscriptedit.js") }}"></script>
{% endblock %}
