{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-xs-12">
        <h2 class="h1">
            Edit Management collections
        </h2>
    </div>
    <div id="managements-edit-app">
        <managements-edit-app
            init-urls="{{ urls }}"
            init-data="{{ managements }}"
        />
    </div>
{% endblock %}

{% block javascript %}
    {{ vite_entry_script_tags('main') }}
    {{ vite_entry_script_tags('managementsedit') }}
{% endblock %}
