{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-xs-12">
        <h2 class="h1">
            Edit acknowledgements
        </h2>
    </div>
    <div id="acknowledgements-edit-app">
        <acknowledgements-edit-app
            init-urls="{{ urls }}"
            init-data="{{ acknowledgements }}"
        />
    </div>
{% endblock %}

{% block javascript %}
    {{ vite_entry_script_tags('main') }}
    {{ vite_entry_script_tags('acknowledgementsedit') }}
{% endblock %}
