// Font families
$default-font-family: Arial, sans-serif;
$semibold-font-family: Arial, sans-serif;
$medium-font-family: Arial, sans-serif;
$light-font-family: Arial, sans-serif;

// Component font families
$body-text-font-family: $light-font-family;
$header-font-family: $medium-font-family;

// Base font size (body font-size)
$em-base: 15px;
$fz-default: $em-base;
$fz-defaultplus: 16px;
$fz-small: 12px;
$fz-smallplus: 17px;
$fz-medium: 18px;
$fz-mediumplus: 20px;
$fz-large: 45px;
