{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-xs-12">
        <h2 class="h1">
            Edit Journals
        </h2>
    </div>
    <div id="journals-edit-app">
        <journals-edit-app
            init-urls="{{ urls }}"
            init-data="{{ journals }}"
        />
    </div>
{% endblock %}

{% block javascript %}
    {{ vite_entry_script_tags('js/main/main.js') }}
    {{ vite_entry_script_tags('js/main/journalsedit.js') }}
{% endblock %}
