{% for rolename, contributorRole in contributorRoles %}
    <div class="row">
        <div class="col-sm-2">{{ contributorRole[0].getName() }}(s)</div>
        <div class="col-sm-10">
            {% for person in contributorRole[1] %}
                {% if not person.getPublic() %}<span class="bg-warning">{% endif %}<a href="{{ path('person_get', {'id': person.getId()}) }}">{{ person.getFullDescription() }}</a>{% if not person.getPublic() %}</span>{% endif %}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </div>
    </div>
{% endfor %}