{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-xs-9">
        <h2 class="h1">
            {% if id is not empty %}
                Edit Occurrence
                <a
                    href="{{ path('occurrence_get', {'id': id}) }}"
                    class="action pull-right"
                    title="View the occurrence">
                    <i class="fa fa-eye"></i>
                </a>
            {% else %}
                Add Occurrence
            {% endif %}
        </h2>
    </div>
    <div id="occurrence-edit-app">
        <occurrence-edit-app
            init-urls = "{{ urls }}"
            init-data="{{ data }}"
        />
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset("/build/occurrenceedit.js") }}"></script>
{% endblock %}
