<pre class="line-numbers"><code>{{ title }}{% if (title and text) %}<br>{% endif %}{{ text }}<span aria-hidden="true" class="line-numbers-rows">{% if title %}<span>T</span>{% endif %}{% for line in text|split('\n') %}<span>{{ loop.index }}</span>{% endfor %}</span></code></pre>
