{% if list|length > 1 or (forceList is defined and forceList) %}
    <ul>
{% endif %}

    {% for key, item in list %}
        {% if list|length > 1 or (forceList is defined and forceList) %}
            <li>
        {% endif %}

        {% with {'key': key, 'item': item} %}
            {% block renderItem %}{% endblock %}
        {% endwith %}

        {% if list|length > 1 or (forceList is defined and forceList) %}
            </li>
        {% endif %}
    {% endfor %}

{% if list|length > 1 or (forceList is defined and forceList) %}
    </ul>
{% endif %}
