{% if personRoles is not empty %}
    <tr>
        <td>Person(s)</td>
        <td>
            <dl>
                {%
                    include '@App/Helpers/renderPersonRolesDetail.html.twig'
                    with {'personRoles': personRoles }
                    only
                %}
            </dl>
        </td>
    </tr>
{% endif %}
