{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-xs-12">
        <h2 class="h1">
            Edit Journal Issues
        </h2>
    </div>
    <div id="journal-issues-edit-app">
        <journal-issues-edit-app
                init-urls="{{ urls }}"
                init-data="{{ data }}"
        />
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset("build/main.js") }}"></script>
    <script type="text/javascript" src="{{ asset("build/journalissuesedit.js") }}"></script>
{% endblock %}
