{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-xs-12">
        <h2 class="h1">
            Edit Offices
        </h2>
    </div>
    <div id="offices-edit-app">
        <offices-edit-app
            init-urls="{{ urls }}"
            init-data="{{ data }}"
        />
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset("build/main.js") }}"></script>
    <script type="text/javascript" src="{{ asset("build/officesedit.js") }}"></script>
{% endblock %}
