{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-xs-12">
        <h2 class="h1">
            Edit Journal Issues
        </h2>
    </div>
    <div id="journal-issues-edit-app">
        <journal-issues-edit-app
                init-urls="{{ urls }}"
                init-data="{{ data }}"
        />
    </div>
{% endblock %}

{% block javascript %}
    {{ vite_entry_script_tags('main') }}
    {{ vite_entry_script_tags('journalissuesedit') }}
{% endblock %}
