{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-xs-12">
        <h2 class="h1">
            Edit metres
        </h2>
    </div>
    <div id="metres-edit-app">
        <metres-edit-app
            init-urls="{{ urls }}"
            init-data="{{ metres }}"
        />
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset("build/main.js") }}"></script>
    <script type="text/javascript" src="{{ asset("build/metresedit.js") }}"></script>
{% endblock %}
