{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-xs-12">
        <h2 class="h1">
            Edit (self) designations
        </h2>
    </div>
    <div id="self-designations-edit-app">
        <self-designations-edit-app
            init-urls="{{ urls }}"
            init-data="{{ selfDesignations }}"
        />
    </div>
{% endblock %}

{% block javascript %}
    {{ vite_entry_script_tags('main') }}
    {{ vite_entry_script_tags('selfdesignationsedit') }}
{% endblock %}
