{% extends 'base.html.twig' %}

{% block content %}
    <div id="users-app">
        <users-edit-app init-urls="{{ urls }}"/>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset("build/main.js") }}"></script>
    <script type="text/javascript" src="{{ asset("build/usersedit.js") }}"></script>
{% endblock %}
