{% extends 'base.html.twig' %}

{% block content %}
    <div id="users-app">
        <users-app />
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset("/build/users.js") }}"></script>
{% endblock %}
